<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <li>This site was created by Utkarsh Mehta. It used data from <b>weatherstack.com</b> and <b>mapbox.net</b>.
        </li><br>
        <li>Backend system has been written in <b>Node</b> that makes use of <b>Express</b> servers. It has been
            deployed on <b>Heroku</b> Free-Tier account.</li><br>
        <img id="picture" src="/img/picture.jpg">
        <p>Created by {{ name }}</p>
    </div>

    {{>footer}}
</body>

</html>